html {
    margin-top: 3rem; 
    margin-right: 1.5rem; 
    margin-left: 1.5rem; 
    margin-bottom: 2rem;
    background: #ffffff;
    font-family: "Helvetica Neue", sans-serif, monospace;
}

table tr td {
    margin-left: auto; 
    margin-right: auto; 
    text-align:center; 
    width: 10rem;
    padding: 0.4rem;
    font-size: 1.08rem;
    border-bottom: 1px black solid;
}
